# OS X stuff
.DS_Store

# Python stuff
*.pyc

# Corpus stuff
*.db
Corpora/*.db

# R stuff
*.Rapp.history
*.RData
*.RDataTmp
*.Rhistory

# MALLET stuff
mallet/*
validation_articles.txt

# Publication stuff
Output/*
