# OS X stuff
.DS_Store

# Python stuff
*.pyc

# Corpus stuff
*.db
Corpora/*

# R stuff
*.Rapp.history
*.RData
*.RDataTmp
*.Rhistory

# MALLET stuff
mallet/*
R/mallet/*
R/mallet_input/*
R/mallet_stemmed/*
R/mallet_control/*
R/mallet_control_stemmed/*
topic-doctopics.txt
topic-keys.txt
topic-state.gz
topics.mallet
validation_articles.txt

# Publication stuff
Output/*
